/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/* #region timer*/
.container-timer {
  font-family: Montserrat;
  color: #2e2f42;
}
.container-timer input {
  width: 227px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
  margin-right: 8px;
  margin-bottom: 32px;
}
.container-timer input:disabled {
  color: #989898;
  background-color: #fafafa;
}
.container-timer button {
  width: 75px;
  padding: 8px 16px;
  background-color: #cfcfcf;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
}
.container-timer button:disabled {
  color: #989898;
}
.timer {
  margin-left: auto;
  margin-right: auto;
  width: 346px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.value {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}
/* #endregion timer*/
/* #region form*/
.main-title {
  margin-bottom: 40px;
}
.form {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.input-label {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin-bottom: 16px;
}
.input-delay {
  width: 342px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
}
fieldset {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #808080;
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
}
legend {
  margin-left: 28px;
  text-align: start;
  margin-bottom: 24px;
}
fieldset label {
  margin-bottom: 8px;
}
form button {
  width: 360px;
  padding: 8px 99px;
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
form button:hover,
form button:focus {
  background-color: #6c8cff;
}
